{% extends "base.html" %}
{% load static %}

{% block title %} Categories {% endblock %}

{% block content %}

<!-- Add margin-top to create space from navbar -->
<div class="categories-container" style="margin-top: 40px; display: flex; flex-wrap: wrap; gap: 100px; justify-content: center;">

  <!-- Fashion -->
  <div style="max-width: 250px; border: 1px solid #ccc; margin: 0 0 0 50px; border-radius: 10px; padding: 15px; text-align: center;">
    <img src="{% static 'images/fsh.avif' %}" alt="Outfit" style="width: 100%; border-radius: 10px;">
    <h4 style="margin-top: 10px;">Trendy Outfit</h4>
    <button style="padding: 8px 12px; background-color: #007bff; margin-top: 10px; color: white; border: none; border-radius: 5px;">Shop Now</button>
  </div>

  <!-- Beauty Products -->
  <div style="max-width: 250px; border: 1px solid #ccc; border-radius: 10px; padding: 15px; text-align: center;">
    <img src="{% static 'images/mkup.jpg' %}" alt="Skincare" style="width: 100%; height:150px; border-radius: 10px;">
    <h4 style="margin-top: 10px;">Beauty Products</h4>
    <button style="padding: 8px 12px; background-color: #007bff; margin-top: 10px; color: white; border: none; border-radius: 5px;">Shop Now</button>
  </div>

  <!-- Footwear -->
  <div style="max-width: 500px; border: 1px solid #ccc; border-radius: 10px; padding: 15px 45px 0 15px; text-align: center;">
    <img src="{% static 'images/snk1.jpg' %}" alt="Footwear" style="width: 120%; height:140px; border-radius: 10px;">
    <h4 style="margin-top: 10px;">Footwear Fever</h4>
    <button style="padding: 8px 12px; background-color: #007bff; margin-top: 15px; color: white; border: none; border-radius: 5px;">Shop Now</button>
  </div>

  <!-- Home & Furniture -->
  <div style="max-width: 250px; border: 1px solid #ccc; margin: 0 50px 0 50px; border-radius: 10px; padding: 15px; text-align: center;">
    <img src="{% static 'images/hem.jpeg' %}" alt="Sofa Set" style="width: 100%; border-radius: 10px;">
    <h4 style="margin-top: 10px;">Modern Sofa Set</h4>
    <button style="padding: 8px 12px; background-color: #007bff; margin-top: 15px; color: white; border: none; border-radius: 5px;">Shop Now</button>
  </div>

  <!-- Electronics -->
  <div style="max-width: 250px; border: 1px solid #ccc; border-radius: 10px; padding: 15px; text-align: center;">
    <img src="{% static 'images/iphone_13_7.png' %}" alt="Smartphone" style="width: 100%; border-radius: 10px;">
    <h4 style="margin-top: 10px;">Smartphone</h4>
    <button style="padding: 8px 12px; background-color: #007bff; margin-top: 20px; color: white; border: none; border-radius: 5px;">Shop Now</button>
  </div>

  <!-- Pc & Laptops -->
  <div style="max-width: 250px; border: 1px solid #ccc; border-radius: 10px; padding: 15px; text-align: center;">
    <img src="{% static 'images/lp.jpeg' %}" alt="Laptops" style="width: 100%; border-radius: 10px;">
    <h4 style="margin-top: 10px;">Pc & Laptops</h4>
    <button style="padding: 8px 12px; background-color: #007bff; margin-top: 10px; color: white; border: none; border-radius: 5px;">Shop Now</button>
  </div>

  <!-- Grocery -->
  <div style="max-width: 250px; border: 1px solid #ccc; border-radius: 10px; padding: 15px; text-align: center;">
    <img src="{% static 'images/grc.jpeg' %}" alt="Vegetables" style="width: 100%; border-radius: 10px;">
    <h4 style="margin-top: 10px;">Grocery</h4>
    <button style="padding: 8px 12px; background-color: #007bff; margin-top: 10px; color: white; border: none; border-radius: 5px;">Shop Now</button>
  </div>

  <!-- Sports & Games -->
  <div style="max-width: 250px; border: 1px solid #ccc; border-radius: 10px; padding: 15px; text-align: center;">
    <img src="{% static 'images/gme.webp' %}" alt="Games" style="width: 100%; border-radius: 10px;">
    <h4 style="margin-top: 10px;">Sports & Games</h4>
    <button style="padding: 8px 12px; background-color: #007bff; margin-top: 10px; color: white; border: none; border-radius: 5px;">Shop Now</button>
  </div>

  <!-- Books -->
  <div style="max-width: 250px; border: 1px solid #ccc; border-radius: 10px; padding: 15px; text-align: center;">
    <img src="{% static 'images/buk.jpeg' %}" alt="Books" style="width: 100%; height:150px; border-radius: 10px;">
    <h4 style="margin-top: 10px;">Books & Magazines</h4>
    <button style="padding: 8px 12px; background-color: #007bff; margin-top: 10px; color: white; border: none; border-radius: 5px;">Shop Now</button>
  </div>

  <!--Mobiles -->
  <div style="max-width: 250px; border: 1px solid #ccc; border-radius: 10px; padding: 15px; text-align: center;">
    <img src="{% static 'images/iphone_13_7.png' %}" alt="Mobiles" style="width: 100%; height:150px; border-radius: 10px;">
    <h4 style="margin-top: 10px;">Mobile Phones</h4>
    <button style="padding: 8px 12px; background-color: #007bff; margin-top: 10px; color: white; border: none; border-radius: 5px;">Shop Now</button>
  </div>


</div>
{% endblock %}
