{% extends 'base.html' %}

{% block title %} Student Form {% endblock %} 

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
          <a href="{% url 'student_list_view' %}" class="btn btn-primary btn-sm me-2">
  <i class="bi bi-pencil-square"></i> add new Student
</a>
        <div class="card shadow-sm">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Student Form</h2>

            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}

              <div class="mb-3">
                <label for="student_id" class="form-label">Student Image</label>
                <input type="file" class="form-control" id="student_image" name="student_image" required />
              </div>

              <div class="mb-3">
                <label for="student_id" class="form-label">Registration Id</label>
                <input type="text" class="form-control" id="registration_id" name="registration_id" required />
              </div>

              <div class="mb-3">
                <label for="student_name" class="form-label">Student Name</label>
                <input type="text" class="form-control" id="student_name" name="student_name" required />
              </div>

              <div class="mb-3">
                <label for="father_name" class="form-label">Father Name</label>
                <input type="text" class="form-control" id="father_name" name="father_name" required />
              </div>

              <div class="mb-3">
                <label for="roll" class="form-label">Roll Number</label>
                <input type="text" class="form-control" id="roll" name="student_roll" required />
              </div>

              <div class="d-grid">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
